{% extends 'menu/fragments/base.html' %}
{% load humanize %}
{% block main-content %}
    <div class="row">
        <div class="col s12 m8">
            <h5>Carta del local</h5>
            <div class="chip {% if not categoria_activa %}teal white-text{% endif %}">
                <a href="{% url 'menu:home' %}">Todas</a>
            </div>
            {% for categoria in categorias %}
                <div class="chip {% if categoria_activa == categoria.pk|stringformat:'s' %}teal white-text{% endif %}">
                    <a href="?categoria={{ categoria.pk }}">{{ categoria.nombre }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="col s12 m4">
            {% if request.user.is_staff %}
                <a class="waves-effect waves-light btn right teal darken-2"
                   href="{% url 'menu:producto-create' %}"><i class="material-icons left">add</i>Agregar producto</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% if not productos %}
                <div class="card-panel amber darken-2">
                    <span class="white-text">No hay productos registrados en la carta.</span>
                </div>
            {% else %}
                <table class="striped">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th width="18%">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.descripcion|truncatechars:60 }}</td>
                            <td>${{ producto.precio|intcomma }}</td>
                            <td>
                                {% if producto.disponible %}
                                    <span class="new badge green" data-badge-caption="Disponible"></span>
                                {% else %}
                                    <span class="new badge grey" data-badge-caption="Agotado"></span>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn-floating btn-small waves-effect waves-light green"
                                   href="{{ producto.get_detail_url }}"><i class="material-icons">visibility</i></a>
                                {% if request.user.is_staff %}
                                    <a class="btn-floating btn-small waves-effect waves-light blue"
                                       href="{{ producto.get_edit_url }}"><i class="material-icons">edit</i></a>
                                    <a class="btn-floating btn-small waves-effect waves-light red"
                                       href="{{ producto.get_delete_url }}"><i class="material-icons">delete</i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
