{% extends 'menu/fragments/base.html' %}
{% block main-content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel red lighten-5">
                <p>¿Confirmas eliminar <b>{{ objeto }}</b>? Esta acción no se puede deshacer.</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn red darken-2" type="submit">Sí, eliminar</button>
                    <a class="btn grey" href="{% url 'menu:home' %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
